roles ['redis_sentinel_role']

sentinel['bind'] = '0.0.0.0'
sentinel['quorum'] = 2

{% if (group_names | select("match", ".*_cache_.*") | list | count > 0) %}
redis['master_name'] = 'gitlab-redis-cache'
redis['master_ip'] = '{{ redis_cache_primary_int_ip }}'
{% elif (group_names | select("match", ".*_persistent_.*") | list | count > 0) %}
redis['master_name'] = 'gitlab-redis-persistent'
redis['master_ip'] = '{{ redis_persistent_primary_int_ip }}'
{% else %}
redis['master_name'] = 'gitlab-redis'
redis['master_ip'] = '{{ redis_primary_int_ip }}'
{% endif %}
redis['master_password'] = '{{ redis_password }}'

gitlab_rails['auto_migrate'] = false

consul['enable'] = true
consul['configuration'] = {
  bind_addr: '{{ ansible_default_ipv4.address }}',
  retry_join: %w({{ (consul_int_ips if 'consul' in groups else gitlab_rails_int_ips) | join(' ') }})
}
consul['monitoring_service_discovery'] = true

node_exporter['listen_address'] = '0.0.0.0:9100'

confs = Dir.glob(File.join("/etc/gitlab/", "gitlab.*.rb"))
confs.each { |conf|
  from_file conf
}
